/* Endemic Animals Heading */

#endemic-animals-heading {
    padding-top: 4%;
    font-size: 2.5em;
    color: #1c1c1c;
}


/* Endemic Animal Container */

.endemic-animal-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: justify;
}

.animal-description {
    margin-top: 0;
}


/* Quote Styling */

.quote-section {
    width: 100%;
    padding: 20px;
    border: 2px solid #1c1c1c;
    background-color: #f5f5f5;
}

blockquote p {
    font-size: 1.8em;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
    color: #1c1c1c;
}

cite {
    display: block;
    font-size: 1rem;
    color: #8b8d7d;
}

.related-links {
    margin-top: 15px;
}

.related-links ul {
    list-style-type: none;
    padding: 0;
}

.related-links li {
    margin-bottom: 5px;
    text-align: center;
}

.related-links a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #979987;
    font-weight: bold;
}

.related-links a:hover {
    text-decoration: underline;
    color: #1c1c1c;
    transition: 0.3s;
}


/* Animal Gallery Styling */

.overlay p {
    color: whitesmoke;
}

.overlay h3 {
    color: #f4f124;
    font-size: 1.5em;
}

#gallery-heading {
    padding-top: 50px;
    margin-bottom: 20px;
    font-size: 2em;
    color: #1c1c1c;
}

.wrapper {
    padding: 10px 5%;
    margin-bottom: 40px;
}

#card-area {
    padding: 0;
}

.box-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.box {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.box img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.overlay {
    width: 100%;
    height: 0;
    background: linear-gradient(transparent, #1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    transition: height 0.5s;
}

.overlay h3 {
    font-weight: 500;
    margin-top: 15%;
    font-family: "Bebas Neue", sans-serif;
}

.box:hover {
    transform: translateY(-5px);
}

.box:hover .overlay {
    height: 100%;
}


/* Media Queries */

@media only screen and (min-width: 1920px) {
    .overlay p {
        font-size: 20px;
        padding: 0;
    }
    .overlay h3 {
        font-size: 25px;
        margin-top: 15%;
    }
    blockquote p {
        font-size: 1.5rem;
    }
    .related-links a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 850px) {
    .endemic-animal-container {
        flex-direction: column;
    }
    .endemic-animal-container p {
        padding: 0;
    }
    .animal-description,
    #gallery-heading {
        margin-top: 5%;
    }
    blockquote p {
        font-size: 1.5rem;
    }
    .related-links a {
        font-size: 1rem;
    }
}