/*DEPARTMENT PAGE STYLING STARTS*/

#department-header {
    background-image: url(../IMAGES/department-images/department-background.webp);
}

#department-sec2 {
    margin: 0;
    background-color: #021116;
    opacity: 0.8;
    background-image: url('file:///C:/Users/titus%20thuo/Desktop/amboseli-frontend/IMAGES/lakeamboseli-images/Amboseli-map.webp'), repeating-radial-gradient(circle at 0 0, transparent 0, #021116 10px), repeating-linear-gradient(#289ac055, #125f0b);
    background-size: cover;
    /* Adjust as needed */
    background-position: center;
    /* Adjust as needed */
}


/*PROTECTED AREAS STYLING STARTS*/


/* Gallery Styling Starts*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-item {
    margin: 1rem;
    flex: 1 1 300px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}


/* Gallery Styling Ends*/

.protected-areas {
    margin: 0% auto;
}

.protected-areas .row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.protected-areas-images {
    width: 90%;
    border-radius: 15px;
}

.protected-areas img:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
}

.protected-areas .row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.txt-center {
    text-align: center;
}

#map-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100vh;
}

#map-section .title {
    margin-bottom: 20px;
}

iframe {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: relative;
    border: none;
}


/*PROTECTED AREAS STYLING ENDS*/


/*DEPARTMENT PAGE STYLING ENDS*/

@media only screen and (max-width: 850px) {
    /*About DWC rows and clos not related to index page rows and cols res*/
    .row {
        flex-direction: column;
    }
    .row .col {
        margin: 20px auto;
    }
    .col img {
        max-width: 90%;
    }
}