/* Grids are given different colors for easy identification */


/* This is used to define variables and later on you can use variables without defining it again */

body,
html {
    margin: 0;
    padding: 0;
    background-image: url('file:///C:/Users/titus%20thuo/Desktop/amboseli-frontend/IMAGES/department-images/singharaja.webp'), linear-gradient(to bottom, #5a5a5ab9, #4224e47c);
    background-size: cover;
    background-position: center;
}

:root {
    --main-radius: 15px;
    --main-padding: 5px;
}

#grid-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav nav nav nav" "sidebar main main main" "sidebar content-1 content-2 content-3" "content-4 content-4 content-4 content-4" "footer footer footer footer";
    text-align: center;
}

#title,
#title2 {
    margin-top: 5vh;
    width: 80%;
    margin: 40px auto;
}

#title,
#para-white {
    color: whitesmoke;
}


/* section {
  width: 100%;
  margin: 0;
} */

nav {
    height: 11vh;
    grid-area: nav;
}

main {
    margin-top: 11vh;
    height: 100vh;
    grid-area: main;
    padding-top: var(--main-padding);
}


/* all contents common styling */

.content {
    height: 50vh;
    z-index: 1;
}

#sidebar {
    margin-top: 11vh;
    grid-area: sidebar;
    padding-top: var(--main-padding);
    background-color: #251b1b;
    /* Updated sidebar background color */
    opacity: 0.8;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #251b1b 10px), repeating-linear-gradient(#251b1b55, #e55e5e);
    /* Updated sidebar background gradient */
    box-shadow: 5px -5px 10px #993333;
    /* Updated box shadow */
}

.eveimg {
    width: 100%;
    height: 99.8%;
    box-shadow: 10px -5px 10px #800000;
    /* Updated box shadow */
}

.eveimg:hover {
    transform: none;
}

#content-1 {
    grid-area: content-1;
}

#content-2 {
    grid-area: content-2;
}

#content-3 {
    grid-area: content-3;
}

#content-4 {
    height: 110vh;
    grid-area: content-4;
}

footer {
    grid-area: footer;
    height: auto;
}


/* upcoming events related stuff */

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "image-1 acontent-1" "image-2 acontent-2";
    grid-gap: 0.2rem;
    text-align: center;
    height: 55%;
    width: 75%;
    margin: 0px auto;
}

article img:hover {
    transform: none;
}

.article-content {
    background-color: #4c4c4cb9;
    /* Updated article content background color */
    border-radius: var(--main-radius);
    text-align: left;
    padding: 2vh;
    color: #191616;
    /* Updated text color */
}

.article-content li {
    padding: 5%;
}

#acontent-1 {
    grid-area: acontent-1;
}

#acontent-2 {
    grid-area: acontent-2;
}

#image-1 {
    grid-area: image-1;
    width: 100%;
    height: 100%;
    border-radius: var(--main-radius);
}

#image-2 {
    grid-area: image-2;
    width: 100%;
    height: 100%;
    border-radius: var(--main-radius);
}


/* upcoming conservations related stuff */

.concontainer {
    width: 90vw;
    height: 70vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "con-content-1 con-content-2 con-content-3 con-content-4";
    grid-gap: 0.2rem;
    text-align: center;
}

.concontainer-list li {
    color: #f0f0f0;
    /* Updated text color */
    padding: 1vh auto;
    margin: 2vh;
    font-size: 1rem;
}

.concontainer-h4 {
    padding: 0 2vw;
    color: rgba(240, 240, 240, 0.803);
    /* Updated text color */
}


/* all con-contents common styling */

.concontents {
    border-radius: var(--main-radius);
    background-color: #4c4c4cb9;
    /* Updated content background color */
}


/* all con-contents unique styling */

#con-content-1 {
    grid-area: con-content-1;
}

#con-content-2 {
    grid-area: con-content-2;
}

#con-content-3 {
    grid-area: con-content-3;
}

#con-content-4 {
    grid-area: con-content-4;
}


/* date container styling */


/* date container common styling */

.datecontainer {
    background-color: #333333;
    /* Updated date container background color */
    padding: 10px;
    border-top-right-radius: var(--main-radius);
    border-top-left-radius: var(--main-radius);
}

.datecontainer h4 {
    margin: 0 auto;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    color: whitesmoke;
}

.datecontainer h3 {
    margin: 5px auto;
    font-family: "Bebas Neue", sans-serif;
    color: #32cf16;
    font-size: 1.5rem;
}

@media only screen and (max-width: 850px) {
    #grid-container {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-areas: "nav" "sidebar" "main" "content-1" "content-2" "content-3" "content-4" "footer";
    }
    p {
        padding: 1vh;
    }
    nav {
        height: auto;
    }
    #sidebar {
        margin-top: 13vh;
        height: 10vh;
        box-shadow: 0px 0px 10px #b35900;
        /* Updated box shadow */
    }
    .eveimg {
        box-shadow: none;
    }
    main {
        margin-top: 0;
        height: 170vh;
    }
    .content {
        height: 33.3vh;
    }
    article {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "image-1" "acontent-1" "image-2" "acontent-2";
        gap: 1rem;
        height: 100vh;
        width: 90vw;
    }
    #content-4 {
        height: 215vh;
    }
    .concontainer {
        width: 90vw;
        height: 85vh;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "con-content-1" "con-content-2" "con-content-3" "con-content-4";
        grid-gap: 1rem;
        text-align: center;
    }
    .datecontainer {
        padding: 5px;
    }
    .datecontainer h4 {
        font-size: 1.5rem;
    }
    .datecontainer h3 {
        margin: 1px auto;
        font-size: 1rem;
    }
    .concontainer-list li {
        font-size: 0.8rem;
    }
}