/* Global Styles */

#intro-header {
    margin: 0;
    background-color: #021116;
    opacity: 0.8;
    background-image: url('file:///C:/Users/titus%20thuo/Desktop/amboseli-frontend/IMAGES/amboseli-images/amboseli-background.webp'), repeating-radial-gradient(circle at 0 0, transparent 0, #021116 10px), repeating-linear-gradient(#02111655, #0b5f15);
    background-size: cover;
    background-position: center;
}


/* Section Styles */

section {
    margin-bottom: 30px;
    text-align: center;
}


/* Table Styles */

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #02111655;
}

th,
td {
    border: 1px solid #215f0b;
    text-align: center;
    padding: 8px;
}

th {
    background-color: whitesmoke;
}

tfoot {
    font-style: italic;
}

.location img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

.location h2 {
    padding: 15px;
    text-align: center;
}

iframe {
    border-radius: 15px;
    width: 100%;
}

.dashboard {
    margin-top: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard h2 {
    margin-bottom: 20px;
    color: #021116;
}

.summary-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.info-item {
    flex: 1;
    text-align: center;
}

.info-item h3 {
    margin-bottom: 10px;
    color: #ff5722;
}

.statistics {
    margin-bottom: 30px;
}

.quick-access {
    text-align: center;
}

.quick-access h3 {
    margin-bottom: 10px;
    color: #ff5722;
}

.quick-access ul {
    list-style-type: none;
    padding: 0;
}

.quick-access li {
    margin-bottom: 10px;
}

.quick-access a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.quick-access a:hover {
    background-color: #c41c00;
}


/* Responsive Styles */

@media screen and (max-width: 850px) {
    /* Add responsive styles here */
    section .location img {
        max-width: 100%;
        height: auto;
    }
}