#leopard-header {
  background-image: url(../IMAGES/leopard-images/leopard-background3.webp);
}

#zoo {
  background-image: url(../IMAGES/leopard-images/leopard-background2.webp);
  margin: 0;
}

#leo-sec1 {
  width: 100%;
  height: 100vh;
  background-image: url(../IMAGES/leopard-images/background1.webp);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  padding-right: 40%;
  padding-top: 8vh;
}

#leo-sec1 .title {
  margin-top: 0;
}

#leo-sec1 p {
  width: 80%;
  margin: auto;
  text-align: justify;
}

#leo-sec1-facts {
  margin-top: 5vh;
  width: 72%;
  padding: 5px;
}

#leo-sec1-facts table {
  width: 100%;
}

#leo-sec1-facts td {
  padding-bottom: 10px;
}

.tr {
  font-size: 1.3rem;
}


/*Venues styling starts*/
.venue {
  justify-content: center;
  margin-bottom: 30px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.37);
  width: 100%;
}

.venue img {
  width: 49.7%;
  border-radius: 15px;
}

.venue img:hover {
  transform: none;
}

.venue h4,
p {
  text-align: center;
}

/*Threats styling starts*/

#habitat h4,
#trade h4,
#threats h1 {
  color: whitesmoke;
}

.threats-headings {
  text-align: left;
  padding-left: 3vw;
}

.threats-para {
  text-align: left;
}

#habitat p {
  color: whitesmoke;
}

#threats p {
  color: whitesmoke;
}

#threats {
  padding: 20px;
  width: 100%;
  /*background-color: #021116;*/
  background-color: #021116;
  margin: 0;

  background-color: #021116;
  opacity: 0.8;
  background-image: repeating-radial-gradient(circle at 0 0,
      transparent 0,
      #021116 10px),
    repeating-linear-gradient(#02111655, #313607);
}


@media screen and (min-width: 1920px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 850px) {
  #leo-sec1 {
    padding-right: 0;
    margin-top: 2vh;
  }

  #leo-sec1 p {
    padding: 0;
  }

  #leo-sec1 .title {
    margin-bottom: 5vh;
  }

  #leo-sec1-facts {
    width: 80%;
    margin-top: 2vh;
  }

  #threats section {
    width: 100%;
  }

  #threats section p {
    text-align: justify;
  }

  .tr {
    font-size: 0.8rem;
  }

  .venue {
    width: 100%;
  }

  .venue img {
    width: 100%;
  }

  .threats-headings,
  .threats-para {
    text-align: center;
  }


}